<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up!</title>
</head>
<body>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">log in</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">log in</button>
            </div>
        </form>

    </div>

    <div class="border-top pt-3">
        { form.as_p }}
       <small class="text-muted">
           do you need An Account? <a class="ml-2" href="{% url 'shop-register' %}">Sign up</a>
           <a class='ml-2' href="{% url 'password_reset' %}">password?</a>
       </small>
    </div>
    <div>
        <small>
{#            <a class='ml-2' href="{% url 'password_reset' %}">forgot your password?</a>#}
        </small>
    </div>

</body>
</html>